<h1>Welcome to Yelp Demo</h1>
<h2>this is one of the sample applications for <a href="https://api.rubyonrails.org">BaseRails</a>, a platform that helps teach people to build awesome custom websites with the Ruby on Rails programming language. </h2>